<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseFile" value="StudentsManagerSystem.db" />
    <add key="AdminUsername" value="admin" />
    <add key="AdminPassword" value="Admin@123" />
  </appSettings>
  <connectionStrings>
    <add name="StudentsManagerSystemDb"
         connectionString="Data Source=StudentsManagerSystem.db"
         providerName="Microsoft.Data.Sqlite" />
  </connectionStrings>
</configuration>